.content__hero
  background: #333333
  color: white
  padding: 5rem 2rem
  text-align: center
  *:last-child
    margin-bottom: 0
  @media screen and (min-width: $landscape)
    padding: 7.5rem 2rem
  @media screen and (min-width: $tablet)
    padding: 10rem 2rem

.hero__copy
  @media screen and (min-width: $tablet)
    max-width: 88rem
    text-align: left
    margin: auto
    > *
      max-width: 50%