.content__hero
  background: #111111
  background-size: cover
  background-position: center 
  background-repeat: no-repeat
  color: white
  padding: 5rem 2rem
  text-align: center
  z-index: 2
  > *
    position: relative
    z-index: 5
  *:last-child
    margin-bottom: 0
  @media screen and (min-width: $landscape)
    padding: 7.5rem 4rem
  @media screen and (min-width: $tablet)
    padding: 10rem 4rem
  @media screen and (min-width: $desktop)
    padding: 12rem 6rem

.hero__copy
  display: flex
  flex-direction: column
  &.copy--left 
    align-items: flex-start
    text-align: left
    max-width: 68rem
  &.copy--right 
    align-items: flex-end
    text-align: right
    max-width: 68rem
  &.copy--center 
    align-items: center
    text-align: center
    margin: 0 auto

.hero__description,
.hero__subtitle
  font-weight: 400
  font-size: 2.2rem
  line-height: 3.2rem
  max-width: calc(100% - 4rem)
  @media screen and (min-width: $landscape)
    max-width: 75%

.hero--dark .hero__copy
  text-shadow: 0 0 3rem rgba(0,0,0,.5), 0 0 0.5rem rgba(0,0,0,.5), 0 0 10rem rgba(0,0,0,.5)
  > * 
    color: white

.hero--light .hero__copy
  > *:not(.button)
    color: var(--color--grey--dark)
  text-shadow: 0 0 3rem rgba(255,255,255,1), 0 0 0.5rem rgba(255,255,255,1), 0 0 10rem rgba(255,255,255,1)