.content__hero
  background: #333333
  background-size: cover
  background-position: center 
  color: white
  padding: 5rem 2rem
  text-align: center
  z-index: 2
  > *
    position: relative
    z-index: 5
  *:last-child
    margin-bottom: 0
  @media screen and (min-width: $landscape)
    padding: 7.5rem 2rem
  @media screen and (min-width: $tablet)
    padding: 10rem 2rem

.hero--dark
  position: relative
  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: #111111
    opacity: .8
    z-index: 1

.hero__copy
  display: flex
  flex-direction: column
  &.copy--left 
    align-items: flex-start
    text-align: left
  &.copy--right 
    align-items: flex-end
    text-align: right
  &.copy--center 
    align-items: center
    text-align: center

.hero__description,.hero__subtitle
  font-weight: 400
  font-size: 2.2rem
  max-width: 75%