@import "_content_sections/features"

.page__default 
  padding: 4rem
  background: rgba(0,0,0,.03)
  @media screen and (min-width: $tablet)
    padding: 6rem 4rem 

.content__section
  display: block
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  padding: 7.5rem 2rem
  @media screen and (min-width: $landscape) 
    align-items: flex-start
    padding: 7.5rem 4rem
  @media screen and (min-width: $desktop)
    padding: 10rem 6rem
    > .container
      max-width: 98rem
      margin-left: auto
      margin-right: auto

.section--columns
  padding: 0
  > .col--multi
    margin: 0
    padding: 0
  .column__section
    display: block
    position: relative
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
  .column__text
    padding: 2rem
    max-width: 78rem
    margin: auto
    @media screen and (min-width: $landscape) 
      padding: 4rem
    @media screen and (min-width: $desktop)
      padding: 6rem

.section--highlight
  background: rgba(0,0,0,.02)

.section--primary
  background: var(--color--primary)
  h1,h2,h3
    color: rgba(255,255,255,1)
  p
    color: rgba(255,255,255, .9)
  .button
    background: rgba(0,0,0,.15)
    border-radius: .7rem
    color: #FFFFFF
    text-shadow: none
    &:hover
      background: #111111
    &:before, &:after
      display: none
.section--primary--light 
  background: var(--color--primary--light)
.section--darken
  background: #333333
  *
    color: #FFFFFF
  > h1,h2,h3
    color: rgba(255,255,255,1)
  > p,ul,ol,li
    color: rgba(255,255,255, .9)

img
  width: 100%
  height: auto
  display: block

.card__image[src$=".svg"]
  filter: invert(100%) brightness(55%) sepia(1) hue-rotate(120deg) saturate(200%)

.card__media
  position: relative
  &:before, &:after 
    content: ''
    display: block 
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transform: translateX(10%)
    background: linear-gradient(30deg, transparent 45%, rgba(255,255,255,.3) 45%, rgba(255,255,255,0) 100%)
    z-index: +1
  &:after 
    margin: 0 25%
    transform: rotate(90deg) translateX(-20%)
    background: linear-gradient(45deg, transparent 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,0) 100%)

.content__meta
  text-align: center
  margin: 0 auto 7.5rem auto

.col--one
  max-width: 88rem
  text-align: center
  margin: auto
  > *:last-child
    margin-bottom: 0


.col--multi,.col--full
  display: grid
  grid-template-columns: 1fr
  width: 100%
  grid-gap: 2.5rem
  padding: 0 2.5rem
  @media screen and (min-width: $tablet)
    grid-gap: 5rem
  &.col--2,
  &.items--2
    @media screen and (min-width: $tablet)
      grid-template-columns: 1fr 1fr
  &.col--3,
  &.items--3
    grid-template-columns: 1fr
    @media screen and (min-width: $tablet)
      grid-template-columns: 1fr 1fr 1fr
      grid-template-rows: none
  &.col--4,
  &.items--4,
    grid-template-columns: 1fr
    @media screen and (min-width: $tablet)
      grid-template-columns: 1fr 1fr
    @media screen and (min-width: $desktop + 300)
      &.items--8
        grid-template-columns: 1fr 1fr 1fr 1fr
        max-width: none

.col--multi 
  margin: 5rem auto

.col--full
  width: 100% 
  max-width: none
  grid-gap: 0
  margin: 0 auto
  .col--single
    display: flex

.col--single
  grid-area: auto
  flex-wrap: wrap
  &.single--left
    @media screen and (min-width: $tablet)
      display: flex
      flex-direction: row
      flex-wrap: wrap
      flex-wrap: nowrap
    .card__media
      margin-right: 4rem
      width: 100%
      max-width: 3.5rem
      height: 3.5rem
      margin-bottom: 2rem
      img 
        max-width: 3.5rem
        height: 3.5rem
        
  &.single--center
    text-align: center
    .card__copy
      margin-top: 3rem
  &.single--right
    text-align: right

a.col--single
  box-shadow: 0 0 0 rgba(0,0,0,0)
  transition: .2s ease-in-out
  padding: 4rem
  margin: 0 -4rem
  color: inherit
  text-decoration: none
  @media screen and (min-width: $desktop)
    margin: 0
  .card__cta
    margin-top: 2rem
    display: block
    transition: .2s ease-in-out
    color: var(--color--primary--text)
    &:after 
      content: '\2192'
      margin: 0 0 0 1rem
      transition: .2s ease-in-out
  & + a.col--single
  //  margin: 0
  &:hover
    box-shadow: 0 1rem 1rem rgba(0,0,0,.05), 0 2rem 5rem rgba(0,0,0,.05)
    .card__cta
      color: var(--color--primary)
      &:after
        margin: 0 0 0 1.5rem
        color: var(--color--primary)

.card--feature
  text-align: center
  @media screen and (max-width: $tablet)
    padding: 0 15%

.card__image
  width: 7.5rem
  height: 7.5rem
  //border-radius: 7.5rem
  display: inline-block
  //background: #DDDDDD
  margin-bottom: 2.5rem

.content__feature
  background: linear-gradient(135deg, #222222, #111111)
  padding: 2.5rem
  color: #FFFFFF
  text-align: center
  .container > *
    color: rgba(#FFFFFF, .9)
  @media screen and (min-width: $tablet)
    padding: 5rem
  .newsletter-form
    display: flex
    flex-direction: row
    justify-content: stretch
    width: 100%
    margin: 2.5rem 0 0 0
  input[type="text"],
  input[type="email"]
    padding: 1.5rem
    border: 0
    flex-grow: 1
    border-top-left-radius: var(--border--radius)
    border-bottom-left-radius: var(--border--radius)
    font-size: 1.6rem
  input[type="submit"]
    background: var(--color--primary)
    border-top-right-radius: var(--border--radius)
    border-bottom-right-radius: var(--border--radius)
    padding: 2rem 2rem
    color: #FFFFFF
    border: 0
    font-size: 1.6rem
    flex-grow: .25

.testimonial__item
  border: .1rem solid rgba(0,0,0,.1)
  background: rgba(255,255,255,.1)
  padding: 4rem
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: stretch
  align-items: center
  border-radius: .7rem
  text-align: center
  .testimonial__copy
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-grow: 1
  img
    display: block
    width: 7.5rem
    height: 7.5rem
    width: auto
    border-radius: 50%
    margin-bottom: 2rem
  .testimonial__quote
    margin: 0
    flex-grow: 1
  .testimonial__author
    display: block
    margin: 2rem 0 0 0 
    font-weight: 700

.image--full
  width: 100%