.content__section
  display: block
  position: relative
  padding: 7.5rem 2rem
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  @media screen and (min-width: $desktop)
    padding: 10rem 6rem
    > .container
      max-width: 98rem
      margin-left: auto
      margin-right: auto

.section--highlight
  background: rgba(0,0,0,.02)

.section--darken
  background: #333333
  > * 
    color: #FFFFFF

img
  max-width: 100%
  height: auto
  display: block

.content__meta
  text-align: center
  margin: 0 auto 7.5rem auto

.col--one
  max-width: 88rem
  text-align: center
  margin: auto
  > *:last-child
    margin-bottom: 0


.col--multi,.col--full
  display: grid
  grid-template-columns: 1fr
  grid-gap: 7.5rem
  &.col--2
    @media screen and (min-width: $tablet)
      grid-template-columns: 1fr 1fr
  &.col--3
    grid-template-columns: 1fr
    @media screen and (min-width: $tablet)
      grid-template-columns: 1fr 1fr 1fr
      grid-template-rows: none
  &.col--4
    grid-template-columns: 1fr
    @media screen and (min-width: $tablet)
      grid-template-columns: 1fr 1fr

.col--multi 
  max-width: 98rem
  margin: 5rem auto
  @media screen and (min-width: $tablet)
    grid-gap: 5rem
  @media screen and (min-width: $desktop)
    grid-gap: 7.5rem

.col--full
  width: 100% 
  max-width: none
  grid-gap: 0
  margin: 0 auto
  .col--single
    display: flex

.col--single
  grid-area: auto
  flex-wrap: wrap
  &.single--left
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    img
      margin-right: 4rem
      width: 3.5rem
      height: 3.5rem
  &.single--center
    text-align: center
  &.single--right
    text-align: right

.card--feature
  text-align: center
  @media screen and (max-width: $tablet)
    padding: 0 15%

.card__image
  width: 7.5rem
  height: 7.5rem
  //border-radius: 7.5rem
  display: inline-block
  //background: #DDDDDD
  margin-bottom: 2.5rem


.content__feature
  background: #333333
  padding: 2.5rem
  color: #FFFFFF
  text-align: center
  @media screen and (min-width: $tablet)
    padding: 5rem
  .newsletter-form
    display: flex
    flex-direction: row
    justify-content: stretch
    width: 100%
    margin: 2.5rem 0 0 0
  input[type="text"],
  input[type="email"]
    padding: 1.5rem
    border: 0
    flex-grow: 1
    border-top-left-radius: var(--border--radius)
    border-bottom-left-radius: var(--border--radius)
    font-size: 1.6rem
  input[type="submit"]
    background: var(--color--primary)
    border-top-right-radius: var(--border--radius)
    border-bottom-right-radius: var(--border--radius)
    padding: 2rem 2rem
    color: #FFFFFF
    border: 0
    font-size: 1.6rem
    flex-grow: .25