@charset "UTF-8";
/* line 6, ../sass/_vars.sass */
:root {
  font-size: 10px;
}
@media screen and (min-width: 1920px) and (max-width: 2400px) {
  /* line 6, ../sass/_vars.sass */
  :root {
    font-size: calc(10px + (12 - 10) * ((100vw - 1920px) / (2400 - 1920)));
  }
}
@media screen and (min-width: 2400px) {
  /* line 6, ../sass/_vars.sass */
  :root {
    font-size: 12px;
  }
}

/* line 13, ../sass/_vars.sass */
body {
  --color--primary: #00b48c;
  --color--primary--text: #00a078;
  --color--primary--light: rgba(0, 180, 140, 0.05);
  --color--grey--dark: #111111;
  --border--radius: 0.7rem;
  --fonts--body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* line 1, ../sass/_typography.sass */
p, span {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

/* line 4, ../sass/_typography.sass */
* {
  color: rgba(0, 0, 0, 0.6);
}

/* line 7, ../sass/_typography.sass */
h1, h2, h3, h4, p, a {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* line 12, ../sass/_typography.sass */
h1 + h1, h2 + h1, h3 + h1, h4 + h1, p + h1, a + h1, h1 + h2, h2 + h2, h3 + h2, h4 + h2, p + h2, a + h2, h1 + h3, h2 + h3, h3 + h3, h4 + h3, p + h3, a + h3, h1 + h4, h2 + h4, h3 + h4, h4 + h4, p + h4, a + h4, h1 + p, h2 + p, h3 + p, h4 + p, p + p, a + p, h1 + a, h2 + a, h3 + a, h4 + a, p + a, a + a {
  margin-top: 1.5rem;
}

/* line 15, ../sass/_typography.sass */
h1,
h1 a,
.h1 {
  font-size: calc( 1rem * 1.6 * 1.6 * 1.6);
  font-weight: bold;
  color: black;
}

/* line 22, ../sass/_typography.sass */
h2,
h2 a,
.h2 {
  font-size: calc(1rem * 1.6 * 1.6 * 1.2);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}

/* line 29, ../sass/_typography.sass */
h3,
h3 a,
.h3 {
  font-weight: 700;
  line-height: 2.8rem;
  font-size: calc(1rem * 1.6 * 1.2);
  color: rgba(0, 0, 0, 0.8);
}
/* line 36, ../sass/_typography.sass */
h3 + h1,
h3 a + h1,
.h3 + h1 {
  margin-top: 0.5rem;
}

/* line 39, ../sass/_typography.sass */
h4 {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

/* line 45, ../sass/_typography.sass */
.column__text blockquote,
.content__text blockquote {
  border-left: 0.3rem solid var(--color--primary);
  margin: inherit;
  padding: 2rem 4rem;
  position: relative;
}
/* line 50, ../sass/_typography.sass */
.column__text blockquote:after,
.content__text blockquote:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100px;
  opacity: 0.1;
  background: linear-gradient(90deg, var(--color--primary), transparent);
}
/* line 60, ../sass/_typography.sass */
.column__text a:not(.button),
.content__text a:not(.button) {
  color: var(--color--primary--text);
  text-decoration: none;
}
/* line 63, ../sass/_typography.sass */
.column__text a:not(.button):hover,
.content__text a:not(.button):hover {
  color: var(--color--primary);
  text-decoration: underline;
}
/* line 66, ../sass/_typography.sass */
.column__text > * + p,
.content__text > * + p {
  margin-top: 2rem;
}
/* line 68, ../sass/_typography.sass */
.column__text > * + h2,
.content__text > * + h2 {
  margin-top: 6rem;
}
/* line 70, ../sass/_typography.sass */
.column__text > * + h3,
.content__text > * + h3 {
  margin-top: 6rem;
}
/* line 72, ../sass/_typography.sass */
.column__text > h1 + h2,
.content__text > h1 + h2 {
  margin-top: 2rem;
}
/* line 74, ../sass/_typography.sass */
.column__text ul,
.column__text ol,
.content__text ul,
.content__text ol {
  padding-left: 2rem;
  line-height: 2.8rem;
}
/* line 78, ../sass/_typography.sass */
.column__text ol,
.content__text ol {
  counter-reset: ol-counter;
  padding: 0 0 0 3rem;
}
/* line 81, ../sass/_typography.sass */
.column__text ol li,
.content__text ol li {
  counter-increment: ol-counter;
}
/* line 83, ../sass/_typography.sass */
.column__text ul.check,
.content__text ul.check {
  padding: 0 0 0 3rem;
}
/* line 85, ../sass/_typography.sass */
.column__text li,
.content__text li {
  color: rgba(0, 0, 0, 0.6);
}
/* line 87, ../sass/_typography.sass */
.column__text ul.check li,
.column__text ol li,
.content__text ul.check li,
.content__text ol li {
  text-indent: -1.5em;
  list-style: none;
}
/* line 91, ../sass/_typography.sass */
.column__text ul.check li:before,
.content__text ul.check li:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1rem;
  margin-bottom: -0.2rem;
  background: url("../img/icons/checkmark.svg") no-repeat;
}
/* line 99, ../sass/_typography.sass */
.column__text ol li:before,
.content__text ol li:before {
  content: counter(ol-counter);
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  font-size: 0.75em;
  line-height: 1.3em;
  margin-right: 1rem;
  margin-bottom: -0.1rem;
  background-color: var(--color--primary);
  border-radius: 50%;
  text-indent: 0;
}

/* line 114, ../sass/_typography.sass */
.button {
  display: inline-block;
  padding: 2rem 3rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 2.5rem 0;
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}
/* line 125, ../sass/_typography.sass */
.button:before {
  content: "";
  background: linear-gradient(-45deg, var(--color--primary), #FFFFFF);
  background-size: 250%;
  background-position: bottom right;
  border-radius: var(--border--radius);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}
/* line 139, ../sass/_typography.sass */
.button:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--color--primary);
  border-radius: var(--border--radius);
  box-shadow: 0 0.35rem 1rem var(--color--primary);
  opacity: 0.7;
  transform: translateY(0.2rem) scale(0.9);
  transition: 0.2s ease-in-out;
}
/* line 154, ../sass/_typography.sass */
.button:hover {
  transform: translateY(-0.2rem);
}
/* line 156, ../sass/_typography.sass */
.button:hover:after {
  box-shadow: 0 1rem 1.5rem var(--color--primary);
  opacity: 0.3;
}
/* line 159, ../sass/_typography.sass */
.button--center {
  margin: 2.5rem auto;
}
/* line 161, ../sass/_typography.sass */
.button:active {
  transform: translateY(0);
}
/* line 163, ../sass/_typography.sass */
.button:active:after {
  box-shadow: 0 0 0 transparent;
}

/* line 166, ../sass/_typography.sass */
input, select {
  padding: 1rem;
  border: 0.1rem solid #ffffff;
  background: #FFFFFF;
  font-size: 1.6rem;
  border-radius: 0.75rem;
}

/* line 173, ../sass/_typography.sass */
button[type="submit"] {
  background-color: var(--color--primary);
  color: #ffffff;
  border: 0;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
/* line 179, ../sass/_typography.sass */
button[type="submit"]:hover {
  background-color: var(--color--primary--text);
}

/* line 1, ../sass/_nav.sass */
header {
  background: #FFFFFF;
}

/* line 3, ../sass/_nav.sass */
.nav--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  color: #333333;
  font-size: 1.6rem;
  max-width: 120rem;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  /* line 3, ../sass/_nav.sass */
  .nav--top {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
/* line 16, ../sass/_nav.sass */
.nav--top .logo {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  opacity: 0.9;
}
/* line 20, ../sass/_nav.sass */
.nav--top .logo strong {
  color: rgba(0, 0, 0, 0.9);
}
/* line 22, ../sass/_nav.sass */
.nav--top .logo:hover {
  opacity: 1;
}

/* line 25, ../sass/_nav.sass */
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  /* line 25, ../sass/_nav.sass */
  .nav__list {
    margin: 2.5rem auto 0 auto;
  }
}

/* line 35, ../sass/_nav.sass */
.nav__item {
  margin: 0 1.5rem;
  list-style: none;
  padding: 0;
  opacity: 1;
}
/* line 40, ../sass/_nav.sass */
.nav__item:first-child {
  margin-left: 0;
}
/* line 42, ../sass/_nav.sass */
.nav__item:last-child {
  margin-right: 0;
}

/* line 45, ../sass/_nav.sass */
.nav__link {
  color: #111111;
  text-decoration: none;
  opacity: 0.6;
  padding: 0 0 0.2rem 0;
  transition: 0.1s ease-in-out;
}
/* line 51, ../sass/_nav.sass */
.nav__link:hover {
  opacity: 0.9;
}
/* line 53, ../sass/_nav.sass */
.nav__link--active {
  opacity: 1;
  font-weight: 500;
}
/* line 56, ../sass/_nav.sass */
.nav__link--cta {
  background-color: var(--color--primary);
  border-radius: 0.7rem;
  padding: 0.45rem 1rem;
  color: #FFFFFF;
  opacity: 1;
}
/* line 62, ../sass/_nav.sass */
.nav__link--cta:hover {
  opacity: 0.8;
  border-color: var(--color--primary);
}

/* line 66, ../sass/_nav.sass */
.subnav__list {
  background: rgba(10, 15, 20, 0.02);
  box-shadow: inset 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.4rem;
}

/* line 77, ../sass/_nav.sass */
.subnav__item {
  margin: 0 1.5rem;
}
/* line 79, ../sass/_nav.sass */
.subnav__item:first-child {
  margin-left: 0;
}

/* line 82, ../sass/_nav.sass */
.subnav__link {
  color: #0a0f14;
  opacity: 0.6;
  text-decoration: none;
}
/* line 86, ../sass/_nav.sass */
.subnav__link:hover {
  opacity: 1;
}

/* line 1, ../sass/_global.sass */
body {
  background: #FAFAFA;
  font-family: var(--fonts--body);
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/_global.sass */
* {
  box-sizing: border-box;
}
/* line 10, ../sass/_global.sass */
*:not(input):empty {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/_global.sass */
.logo {
  text-transform: uppercase;
}

/* line 17, ../sass/_global.sass */
.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 21, ../sass/_global.sass */
.container--small {
  max-width: 78rem;
}
/* line 23, ../sass/_global.sass */
.container--full {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

/* line 1, ../sass/_layout.sass */
.content__section {
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 7.5rem 2rem;
}
@media screen and (min-width: 480px) {
  /* line 1, ../sass/_layout.sass */
  .content__section {
    align-items: flex-start;
    padding: 7.5rem 4rem;
  }
}
@media screen and (min-width: 1024px) {
  /* line 1, ../sass/_layout.sass */
  .content__section {
    padding: 10rem 6rem;
  }
  /* line 14, ../sass/_layout.sass */
  .content__section > .container {
    max-width: 98rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 19, ../sass/_layout.sass */
.section--columns {
  padding: 0;
}
/* line 21, ../sass/_layout.sass */
.section--columns > .col--multi {
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/_layout.sass */
.section--columns .column__section {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 32, ../sass/_layout.sass */
.section--columns .column__text {
  padding: 2rem;
  max-width: 78rem;
  margin: auto;
}
@media screen and (min-width: 480px) {
  /* line 32, ../sass/_layout.sass */
  .section--columns .column__text {
    padding: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  /* line 32, ../sass/_layout.sass */
  .section--columns .column__text {
    padding: 6rem;
  }
}

/* line 41, ../sass/_layout.sass */
.section--highlight {
  background: rgba(0, 0, 0, 0.02);
}

/* line 44, ../sass/_layout.sass */
.section--primary {
  background: var(--color--primary);
}
/* line 46, ../sass/_layout.sass */
.section--primary h1, .section--primary h2, .section--primary h3 {
  color: white;
}
/* line 48, ../sass/_layout.sass */
.section--primary p {
  color: rgba(255, 255, 255, 0.9);
}
/* line 50, ../sass/_layout.sass */
.section--primary .button {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.7rem;
  color: #FFFFFF;
  text-shadow: none;
}
/* line 55, ../sass/_layout.sass */
.section--primary .button:hover {
  background: #111111;
}
/* line 57, ../sass/_layout.sass */
.section--primary .button:before, .section--primary .button:after {
  display: none;
}

/* line 59, ../sass/_layout.sass */
.section--primary--light {
  background: var(--color--primary--light);
}

/* line 61, ../sass/_layout.sass */
.section--darken {
  background: #333333;
}
/* line 63, ../sass/_layout.sass */
.section--darken * {
  color: #FFFFFF;
}
/* line 65, ../sass/_layout.sass */
.section--darken > h1, .section--darken h2, .section--darken h3 {
  color: white;
}
/* line 67, ../sass/_layout.sass */
.section--darken > p, .section--darken ul, .section--darken ol, .section--darken li {
  color: rgba(255, 255, 255, 0.9);
}

/* line 70, ../sass/_layout.sass */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 75, ../sass/_layout.sass */
.card__image[src$=".svg"] {
  filter: invert(100%) brightness(55%) sepia(1) hue-rotate(120deg) saturate(200%);
}

/* line 78, ../sass/_layout.sass */
.content__meta {
  text-align: center;
  margin: 0 auto 7.5rem auto;
}

/* line 82, ../sass/_layout.sass */
.col--one {
  max-width: 88rem;
  text-align: center;
  margin: auto;
}
/* line 86, ../sass/_layout.sass */
.col--one > *:last-child {
  margin-bottom: 0;
}

/* line 90, ../sass/_layout.sass */
.col--multi, .col--full {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  grid-gap: 2.5rem;
  padding: 0 2.5rem;
}
@media screen and (min-width: 728px) {
  /* line 90, ../sass/_layout.sass */
  .col--multi, .col--full {
    grid-gap: 5rem;
  }
}
@media screen and (min-width: 728px) {
  /* line 98, ../sass/_layout.sass */
  .col--multi.col--2, .col--multi.items--2, .col--full.col--2, .col--full.items--2 {
    grid-template-columns: 1fr 1fr;
  }
}
/* line 102, ../sass/_layout.sass */
.col--multi.col--3, .col--multi.items--3, .col--full.col--3, .col--full.items--3 {
  grid-template-columns: 1fr;
}
@media screen and (min-width: 728px) {
  /* line 102, ../sass/_layout.sass */
  .col--multi.col--3, .col--multi.items--3, .col--full.col--3, .col--full.items--3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}
/* line 108, ../sass/_layout.sass */
.col--multi.col--4, .col--multi.items--4, .col--full.col--4, .col--full.items--4 {
  grid-template-columns: 1fr;
}
@media screen and (min-width: 728px) {
  /* line 108, ../sass/_layout.sass */
  .col--multi.col--4, .col--multi.items--4, .col--full.col--4, .col--full.items--4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1324px) {
  /* line 114, ../sass/_layout.sass */
  .col--multi.col--4.items--8, .col--multi.items--4.items--8, .col--full.col--4.items--8, .col--full.items--4.items--8 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: none;
  }
}

/* line 118, ../sass/_layout.sass */
.col--multi {
  margin: 5rem auto;
}

/* line 121, ../sass/_layout.sass */
.col--full {
  width: 100%;
  max-width: none;
  grid-gap: 0;
  margin: 0 auto;
}
/* line 126, ../sass/_layout.sass */
.col--full .col--single {
  display: flex;
}

/* line 129, ../sass/_layout.sass */
.col--single {
  grid-area: auto;
  flex-wrap: wrap;
}
/* line 132, ../sass/_layout.sass */
.col--single.single--left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 136, ../sass/_layout.sass */
.col--single.single--left img {
  margin-right: 4rem;
  width: 100%;
  max-width: 3.5rem;
  height: 3.5rem;
}
/* line 141, ../sass/_layout.sass */
.col--single.single--center {
  text-align: center;
}
/* line 143, ../sass/_layout.sass */
.col--single.single--center .card__copy {
  margin-top: 3rem;
}
/* line 145, ../sass/_layout.sass */
.col--single.single--right {
  text-align: right;
}

/* line 148, ../sass/_layout.sass */
a.col--single {
  box-shadow: 0 0 0 transparent;
  transition: 0.2s ease-in-out;
  padding: 4rem;
  color: inherit;
  text-decoration: none;
}
/* line 154, ../sass/_layout.sass */
a.col--single .card__cta {
  margin-top: 2rem;
  display: block;
  transition: 0.2s ease-in-out;
}
/* line 158, ../sass/_layout.sass */
a.col--single .card__cta:after {
  content: "→";
  margin: 0 0 0 1rem;
  transition: 0.2s ease-in-out;
}
/* line 162, ../sass/_layout.sass */
a.col--single + a.col--single {
  margin: 0;
}
/* line 164, ../sass/_layout.sass */
a.col--single:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05), 0 2rem 5rem rgba(0, 0, 0, 0.05);
}
/* line 166, ../sass/_layout.sass */
a.col--single:hover .card__cta {
  color: var(--color--primary);
}
/* line 168, ../sass/_layout.sass */
a.col--single:hover .card__cta:after {
  margin: 0 0 0 1.5rem;
  color: var(--color--primary);
}

/* line 172, ../sass/_layout.sass */
.card--feature {
  text-align: center;
}
@media screen and (max-width: 728px) {
  /* line 172, ../sass/_layout.sass */
  .card--feature {
    padding: 0 15%;
  }
}

/* line 177, ../sass/_layout.sass */
.card__image {
  width: 7.5rem;
  height: 7.5rem;
  display: inline-block;
  margin-bottom: 2.5rem;
}

/* line 186, ../sass/_layout.sass */
.content__feature {
  background: linear-gradient(135deg, #222222, #111111);
  padding: 2.5rem;
  color: #FFFFFF;
  text-align: center;
  border-radius: 1.5rem;
}
/* line 192, ../sass/_layout.sass */
.content__feature > * {
  color: rgba(255, 255, 255, 0.9);
}
@media screen and (min-width: 728px) {
  /* line 186, ../sass/_layout.sass */
  .content__feature {
    padding: 5rem;
  }
}
/* line 196, ../sass/_layout.sass */
.content__feature .newsletter-form {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  margin: 2.5rem 0 0 0;
}
/* line 202, ../sass/_layout.sass */
.content__feature input[type="text"],
.content__feature input[type="email"] {
  padding: 1.5rem;
  border: 0;
  flex-grow: 1;
  border-top-left-radius: var(--border--radius);
  border-bottom-left-radius: var(--border--radius);
  font-size: 1.6rem;
}
/* line 210, ../sass/_layout.sass */
.content__feature input[type="submit"] {
  background: var(--color--primary);
  border-top-right-radius: var(--border--radius);
  border-bottom-right-radius: var(--border--radius);
  padding: 2rem 2rem;
  color: #FFFFFF;
  border: 0;
  font-size: 1.6rem;
  flex-grow: 0.25;
}

/* line 220, ../sass/_layout.sass */
.testimonial__item {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  padding: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border-radius: 0.7rem;
  text-align: center;
}
/* line 232, ../sass/_layout.sass */
.testimonial__item .testimonial__copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
/* line 237, ../sass/_layout.sass */
.testimonial__item img {
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  width: auto;
  border-radius: 50%;
  margin-bottom: 2rem;
}
/* line 244, ../sass/_layout.sass */
.testimonial__item .testimonial__quote {
  margin: 0;
  flex-grow: 1;
}
/* line 247, ../sass/_layout.sass */
.testimonial__item .testimonial__author {
  display: block;
  margin: 2rem 0 0 0;
  font-weight: 700;
}

/* line 252, ../sass/_layout.sass */
.image--full {
  width: 100%;
}

/* line 1, ../sass/_home.sass */
.content__hero {
  background: #111111;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 5rem 2rem;
  text-align: center;
  z-index: 2;
}
/* line 10, ../sass/_home.sass */
.content__hero > * {
  position: relative;
  z-index: 5;
}
/* line 13, ../sass/_home.sass */
.content__hero *:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  /* line 1, ../sass/_home.sass */
  .content__hero {
    padding: 7.5rem 2rem;
  }
}
@media screen and (min-width: 728px) {
  /* line 1, ../sass/_home.sass */
  .content__hero {
    padding: 10rem 2rem;
  }
}

/* line 20, ../sass/_home.sass */
.hero--dark {
  position: relative;
}
/* line 22, ../sass/_home.sass */
.hero--dark:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 10, 20, 0.5);
  z-index: 1;
}

/* line 33, ../sass/_home.sass */
.hero__copy {
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 3rem black, 0 0 0.5rem black, 0 0 7rem black;
}
/* line 37, ../sass/_home.sass */
.hero__copy * {
  color: white;
}
/* line 39, ../sass/_home.sass */
.hero__copy.copy--left {
  align-items: flex-start;
  text-align: left;
  max-width: 68rem;
}
/* line 43, ../sass/_home.sass */
.hero__copy.copy--right {
  align-items: flex-end;
  text-align: right;
  max-width: 68rem;
}
/* line 47, ../sass/_home.sass */
.hero__copy.copy--center {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

/* line 52, ../sass/_home.sass */
.hero__description, .hero__subtitle {
  font-weight: 400;
  font-size: 2.2rem;
  max-width: 75%;
}

/* line 1, ../sass/_footer.sass */
footer {
  background: linear-gradient(135deg, #111111, #000000);
  padding: 5rem;
  text-align: center;
}
/* line 6, ../sass/_footer.sass */
footer .logo strong {
  color: #FFFFFF;
}
/* line 8, ../sass/_footer.sass */
footer .nav--footer {
  margin: 3rem 0;
}
/* line 10, ../sass/_footer.sass */
footer .nav--footer .nav__list {
  text-align: center;
  margin: auto;
  justify-content: center;
}
/* line 14, ../sass/_footer.sass */
footer .nav--footer .nav__list a {
  color: #FFFFFF;
}
/* line 16, ../sass/_footer.sass */
footer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
}
/* line 19, ../sass/_footer.sass */
footer > * + * {
  display: block;
  margin-top: 1rem;
}
/* line 22, ../sass/_footer.sass */
footer > *:last-child {
  margin-bottom: 0;
}
/* line 24, ../sass/_footer.sass */
footer a {
  color: white;
  text-decoration: none;
}
/* line 27, ../sass/_footer.sass */
footer .footer__meta-description {
  max-width: 98rem;
  margin: auto;
}

@media screen and (min-width: 728px) and (max-width: 1024px) {
  /* line 1, ../sass/_pricing.sass */
  .col--pricing.col--multi {
    grid-template-columns: 1fr 1fr;
  }
}

/* line 5, ../sass/_pricing.sass */
.card--price {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  transition: border-color 0.2s ease-in-out;
}
/* line 13, ../sass/_pricing.sass */
.card--price:hover {
  border-color: var(--color--primary);
}

/* line 16, ../sass/_pricing.sass */
.price__title {
  padding: 2rem 0;
  text-align: center;
  background: linear-gradient(135deg, #333333, #111111);
}
/* line 20, ../sass/_pricing.sass */
.price__title > * {
  color: #FFFFFF;
  margin-top: 0;
}

/* line 24, ../sass/_pricing.sass */
.price__subtitle {
  opacity: 1;
  background: rgba(0, 0, 0, 0.05);
  color: #666666;
  margin-top: 2rem;
  padding: 0.5rem 0;
  display: none;
}

/* line 32, ../sass/_pricing.sass */
.price__price {
  text-align: center;
  border-left: 0;
  border-right: 0;
  padding: 2rem 0;
}

/* line 40, ../sass/_pricing.sass */
.price__amount {
  font-size: 3em;
}
/* line 42, ../sass/_pricing.sass */
.price__amount:before {
  content: "$";
}

/* line 45, ../sass/_pricing.sass */
.price__features-list {
  flex-grow: 1;
  padding: 0 4rem;
}
/* line 48, ../sass/_pricing.sass */
.price__features-list li {
  margin-bottom: 0.5rem;
  text-align: center;
  list-style: none;
}

/* line 53, ../sass/_pricing.sass */
.price__button {
  background: rgba(0, 0, 0, 0.02);
}
/* line 55, ../sass/_pricing.sass */
.price__button .button {
  justify-self: flex-end;
  margin: 2rem;
  display: block;
}

/* line 1, ../sass/_resources.sass */
.resources__page {
  padding: 4rem;
  background: rgba(0, 0, 0, 0.03);
}
@media screen and (min-width: 728px) {
  /* line 1, ../sass/_resources.sass */
  .resources__page {
    padding: 6rem 4rem;
  }
}

@media screen and (min-width: 728px) {
  /* line 7, ../sass/_resources.sass */
  .resources__index,
  .resources__single {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 13, ../sass/_resources.sass */
  .resources__index > *,
  .resources__single > * {
    flex-grow: 0;
  }
  /* line 15, ../sass/_resources.sass */
  .resources__index .resources__container,
  .resources__single .resources__container {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 18, ../sass/_resources.sass */
  .resources__index .sidebar,
  .resources__single .sidebar {
    padding-top: calc( 4rem + 4.5rem);
  }
}

/* line 22, ../sass/_resources.sass */
.resources__single .resource__meta {
  margin-bottom: 6rem;
}
/* line 24, ../sass/_resources.sass */
.resources__single .resource__meta--footer {
  margin-bottom: 0;
}

/* line 27, ../sass/_resources.sass */
.resources__index__title {
  text-align: center;
  margin-bottom: 4rem;
}

/* line 31, ../sass/_resources.sass */
.resources__container {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 4rem;
  max-width: 82rem;
  margin: auto;
}

/* line 38, ../sass/_resources.sass */
.post {
  background: #ffffff;
  padding: 2rem 0;
  font-size: 2rem;
  border-radius: 0.75rem;
}
/* line 44, ../sass/_resources.sass */
.post p, .post li, .post blockquote {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300;
}
/* line 48, ../sass/_resources.sass */
.post > * {
  padding: 0 2rem;
}
/* line 50, ../sass/_resources.sass */
.post > * + * {
  margin-top: 3rem;
}
@media screen and (min-width: 728px) and (max-width: 1024px) {
  /* line 38, ../sass/_resources.sass */
  .post {
    padding: 4rem 0;
  }
  /* line 54, ../sass/_resources.sass */
  .post > * {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  /* line 38, ../sass/_resources.sass */
  .post {
    padding: 6rem 0;
  }
  /* line 58, ../sass/_resources.sass */
  .post > * {
    padding: 0 6rem;
  }
}

/* line 61, ../sass/_resources.sass */
.resource__single__title,
.resource__title {
  margin-top: 0;
  padding-top: 0;
}

/* line 66, ../sass/_resources.sass */
.resource__single__title a,
.resource__title a {
  text-decoration: none;
  color: var(--color--grey--dark);
}
/* line 70, ../sass/_resources.sass */
.resource__single__title a:hover,
.resource__title a:hover {
  text-decoration: underline;
}

/* line 73, ../sass/_resources.sass */
.resource__thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 80, ../sass/_resources.sass */
.resource__meta {
  font-size: calc( 1rem * 1.6);
}
/* line 82, ../sass/_resources.sass */
.resource__meta .resource__categories {
  margin: 0 1rem 0 0;
}
/* line 84, ../sass/_resources.sass */
.resource__meta a {
  text-decoration: none;
  color: var(--color--primary--text);
}

/* line 88, ../sass/_resources.sass */
.resource__button {
  margin-bottom: 0;
}

/* line 91, ../sass/_resources.sass */
a.post-edit-link {
  margin: 2rem 0 0 0;
  display: inline-block;
  background: orangered;
  opacity: 0.75;
  padding: 0.25rem 0.5rem;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0.75rem;
  margin: 0 1rem;
  font-size: 1.2rem;
}

/* line 103, ../sass/_resources.sass */
.resource__tags,
.resource__categories {
  margin: 2rem 0;
  font-size: 1.4rem;
}
/* line 107, ../sass/_resources.sass */
.resource__tags a,
.resource__categories a {
  padding: 0.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  line-height: 3.2rem;
  color: var(--color--grey--dark);
  margin: 0 0 0 0.5rem;
  font-size: 1.4rem;
  text-decoration: none;
}
/* line 116, ../sass/_resources.sass */
.resource__tags a:hover,
.resource__categories a:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}

/* line 120, ../sass/_resources.sass */
.sidebar {
  padding: 6rem 4rem;
}
/* line 122, ../sass/_resources.sass */
.sidebar h3 {
  font-size: calc( 1rem * 1.6 * 1.6 * 1.2);
}
/* line 124, ../sass/_resources.sass */
.sidebar > * + * {
  margin-top: 4rem;
}
/* line 127, ../sass/_resources.sass */
.sidebar .sidebar__widget > * + * {
  margin-top: 4rem;
}

/* line 130, ../sass/_resources.sass */
form.search {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}
/* line 135, ../sass/_resources.sass */
form.search .search-input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;
  padding: 1.5rem;
}
/* line 141, ../sass/_resources.sass */
form.search .search-input:focus {
  outline: 0;
  border: 0.1rem solid var(--color--primary);
}
/* line 144, ../sass/_resources.sass */
form.search .search-submit {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: 1.5rem 3rem;
}

/* line 2, ../sass/_woocommerce.sass */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.cfw-bottom-controls .cfw-primary-btn,
.place-order .cfw-primary-btn {
  background: linear-gradient(-45deg, var(--color--primary), #FFFFFF);
  background-size: 250%;
  background-position: bottom right;
  color: #ffffff;
  font-weight: 400;
  border-radius: 0.8rem;
}
/* line 14, ../sass/_woocommerce.sass */
.woocommerce #respond input#submit:disabled,
.woocommerce a.button:disabled,
.woocommerce button.button:disabled,
.woocommerce input.button:disabled,
.cfw-bottom-controls .cfw-primary-btn:disabled,
.place-order .cfw-primary-btn:disabled {
  color: #FFFFFF !important;
}

/* line 18, ../sass/_woocommerce.sass */
thead > tr > th {
  color: #000000;
}

/* line 20, ../sass/_woocommerce.sass */
.cart_item {
  background: white;
}

/* line 23, ../sass/_woocommerce.sass */
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
}
/* line 26, ../sass/_woocommerce.sass */
.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2 {
  margin: 3rem 0 3rem 0;
}

/* line 30, ../sass/_woocommerce.sass */
.shop_table tr:nth-of-type(2n+2) {
  background: rgba(255, 255, 255, 0.3);
}
/* line 32, ../sass/_woocommerce.sass */
.shop_table .recurring-totals, .shop_table .recurring-totals:nth-of-type(2n+2) {
  background: #111111;
  color: #FFFFFF;
}
/* line 35, ../sass/_woocommerce.sass */
.shop_table .recurring-totals *, .shop_table .recurring-totals:nth-of-type(2n+2) * {
  color: #FFFFFF;
}
/* line 37, ../sass/_woocommerce.sass */
.shop_table .order-total.recurring-total {
  background: var(--color--primary--light);
  border: 0.1rem solid var(--color--primary);
}
